# exclude every thing.
*

# include specific files
!.bash_profile
!.bashrc
!.gitignore
!.ideavimrc
!.vimrc
!.xinitrc
!.Xresources
!README.md

!Documents/
!Documents/**
Documents/*
!Documents/templates/
!Documents/templates/**

!.config/
!.config/**
.config/nvim
.config/libreoffice
.config/pulse
.config/JetBrains
.config/Microsoft
.config/zsh
.config/Code*
.config/faplayer

.config/composer/vendor
.config/composer/composer.lock

!.gnupg/
!.gnupg/**
.gnupg/*
!.gnupg/**/*.conf

!.local/
!.local/**
.local/*

!.local/sh/
!.local/sh/**

!.local/src/
!.local/src/**
.local/src/*

!.local/share/
!.local/share/**
.local/share/*

!.local/share/bin/
!.local/share/bin/**
.local/share/bin/*

!.local/share/bin/swallow
!.local/share/bin/sh-menu

# privacy
**/*log*
**/*LOG*
**/LOG*
**/*.dat
**/*recent*
**/*err*
**/*out*
**/*tmp*
**/*cache*
**/*Cache*
**/*history*
**/*History*
**/*data*
**/*info*
**/*cookeis*
**/*url*
**/*user*/**
**/*user
**/*User*/**
**/*User*/**
**/*state*/**
**/*state*
**/*quickmarks*
