# exclude every thing.
*

# include specific files
!.bash_profile
!.bashrc
!.gitignore
!.ideavimrc
!.vimrc
!.xinitrc
!.Xresources
!README.md

!Documents/
!Documents/**
Documents/*
!Documents/templates/
!Documents/templates/**

!.config/
!.config/**
'.config/Android Open Source Project'
.config/Electron
.config/falkon
.config/FreeCAD
.config/Google
.config/JetBrains
.config/QtProject.conf
.config/VirtualBox
.config/composer
.config/emacs
.config/environment.d
.config/qutebrowser/qsettings/
.config/font-manager
.config/fontforge
.config/gnome-session
.config/godot
.config/ibus
.config/klavaro
.config/libreoffice
.config/l3afpad
.config/nvim
.config/nvtop
.config/pavucontrol.ini
.config/pulse
.config/uGet
.config/user-dirs.dirs
.config/user-dirs.locale
.config/window-geometry.conf
.config/xarchiver
.config/zoomus.conf
'.config/Code - OSS'
.config/light
.config/LosslessCut/
.config/Meltytech/
.config/doom/
.config/figaro-gui/
.config/flowblade/
.config/lapce-stable/
.config/netsurf/
.config/pitivi/
.config/vifm/scripts/

!.gnupg/
!.gnupg/**
.gnupg/*
!.gnupg/**/*.conf

!.local/
!.local/**
.local/*

!.local/sh/
!.local/sh/**

!.local/src/
!.local/src/**
.local/src/*

!.local/share/
!.local/share/**
.local/share/*

!.local/share/bin/
!.local/share/bin/**
.local/share/bin/*

!.local/share/bin/swallow
!.local/share/bin/sh-menu

# privacy
**/*log*
**/*LOG*
**/LOG*
**/*.dat
**/*recent*
**/*err*
**/*out*
**/*tmp*
**/*cache*
**/*Cache*
**/*history*
**/*History*
**/*data*
**/*info*
**/*cookeis*
**/*url*
**/*user*/**
**/*user
**/*User*/**
**/*User*/**
**/*state*/**
**/*state*
**/*quickmarks*

