Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcdfilter

*font: monospace

emacs.title: "Emacs"
emacs.font: monospace-20
emacs.background: #12121A
emacs.bitmapIcon: on
emacs.borderColor: #333333
emacs.menuBar: off

XTerm.termName: xterm
XTerm.vt100.faceName: mono
XTerm.vt100.saveLines: 2048
XTerm.vt100.backarrowKey: false
XTerm.ttyModes: erase ^?
XTerm.vt100.bellIsUrgent: true
XTerm.vt100.translations: #override \n\
    Ctrl <Key>M: maximize() \n\
    Ctrl <Key>R: restore() \n\
    Ctrl <Key>Y: copy-selection(CLIPBOARD) \n\
    Ctrl <Key>P: insert-selection(CLIPBOARD) \n\
    Ctrl <Key>L: clear-saved-lines() \n\
    Ctrl Shift <Key>L: hard-reset() \n\
    Ctrl <Key>K: scroll-back(1, line) \n\
    Ctrl <Key>Prior: scroll-back(1, halfpage) \n\
    Ctrl <Key>J: scroll-forw(1, line) \n\
    Ctrl <Key>Next: scroll-forw(1, halfpage) \n\
    Ctrl <Key>plus: larger-vt-font() \n\
    Ctrl <Key>minus: smaller-vt-font()

*background: #202829
*foreground: #F5F5F5
st.cursorColor: #cccccc
*color0: #000000  
*color1: #FF1744  
*color2: #00C853 
*color3: #FFEA00 
*color4: #00B0FF 
*color5: #EA80FC
*color6: #18FFFF 
*color7: #e5e1d8 
*color8: #78909C
*color9: #FF1744
*color10:#00D863
*color11:#FFFF00
*color12:#42A5F5
*color13:#E040FB
*color14:#18FFFF
*color15:#F5F5F5
