
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcdfilter

st.alpha:0.6
st.font: monospace-13
st.shell:zsh
XTerm*renderFont: true
xterm*faceName: monospace
XTerm*faceSize: 13
XTerm*geometry: 53x40

XTerm*utf8: 2
XTerm*locale: true
Xterm*selectToClipboard: true

XTerm.VT100.translations: #override \n\
  Ctrl <Key>+: larger-vt-font() \n\
  Ctrl <Key>-: smaller-vt-font() \n\
  Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>C:    copy-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>K: scroll-back(1,halfpage,m) \n\
  Ctrl Shift <Key>J: scroll-forw(1,halfpage,m) \n\
  Ctrl <Key>k: scroll-back() \n\
  Ctrl <Key>j: scroll-forw() \n\


! Every shell is a login shell by default (for inclusion of all necessary environment variables)
! XTerm*loginshell: true

! I like a LOT of scrollback...
XTerm*savelines: 1111

! double-click to select whole URLs :D
XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48


! *background: #202829
*background: #000000
*foreground: #F5F5F5
st.cursorColor: #cccccc
*color0: #000000  
*color1: #FF1744  
*color2: #00C853 
*color3: #FFEA00 
*color4: #00B0FF 
*color5: #EA80FC
*color6: #18FFFF 
*color7: #e5e1d8 
*color8: #78909C
*color9: #FF1744
*color10:#00D863
*color11:#FFFF00
*color12:#42A5F5
*color13:#E040FB
*color14:#18FFFF
*color15:#F5F5F5
